<launch>
  <!-- Argument for device id -->
  <arg
    name="cam1"
    value="2"
  />
  <!-- Publisher node -->
  <node
    pkg="cv_camera"
    type="cv_camera_node"
    name="camera1" 
    args="$(arg cam1)" >
    <remap from="camera1/image_raw" to="image_raw" />
    <remap from="camera1/camera_info" to="camera_info" />
  </node>
  <!-- Subscriber node -->
  <node
    pkg="image_proc"
    type="image_proc"
    name="image_proc" />
</launch>
